<% include partials/header %>

    <form action="/login" method="POST">
        <section class="container2">

            <section class="row">
                <h1 class="col-md-9 col-md-push-3">Login</h1>
                <section class="col-md-9 col-md-push-3">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </section>
                <section class="col-md-9 col-md-push-3">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </section>
                <section class="col-md-9 col-md-push-3">
                    <br>
                    <button type="submit" class="btn btn-primary ">Sign in</button>
                </section>
            </section>
    </form>


    <% include partials/footer %>