<% include partials/header %>

    <form>
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="username"><strong>User Name</strong></label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputPassword4"><strong>Password</strong></label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>


    <% include partials/footer %>