<% include partials/header %>

    <form>
        
        <section class="container2">
                <h1>Login</h1>
            <section class="form-row">
                <section class="form-group col-md-12">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </section>
            </section>

            <section class="form-row">
                <section class="form-group col-md-12">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </section>
            </section>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </section>
    </form>


    <% include partials/footer %>