<% include partials/header %>

  <section class='bg'>
    <form class="needs-validation" novalidate>
      <section class="form-bg">
        <div class="form-row">

          <div class="col-md-4 mb-3">
            <label for="picture">Picture URL</label>
            <input type="text" class="form-control" id="picture" placeholder="Insert .jpg image here" name="picture" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="location">Mountain</label>
            <input type="text" class="form-control" id="location" placeholder="e.g. Park City Mountain" name="location" required>
          </div>

          <div class="col-md-4 mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
          </div>
        </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">City</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">State</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </section>
    </form>
  </section>


  <% include partials/footer %>