.bg
    {
        background: url('../images/hangtime.jpg') no-repeat center center fixed;
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 140px;
        width: 100%;
        height: 950px;

    }

    .formsBox {
        display: flex;
        justify-content: center;
        background-color: darkgrey;
        opacity: 0.9;
        width: 550px;
        padding-bottom: 20px;
        padding-top: 20px;
        box-shadow: 5px 5px black;

    }

    h1 {
        color: white;
    }