body {
    height: 100%;
    min-height: 100vh;
    background: url('../images/hangtime.jpg') repeat center center fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

/* .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 500px;
}  */

.bg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    opacity: 0.7;

}

.title {
    color: white;
    padding-left: 35px;
}

.form-bg {
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    opacity: 0.7;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    opacity: 0.7;
}


.flex {
    justify-content: center;
    align-items: center;
}
