body {
    height: 100%;
    min-height: 100vh;
    background: url('../images/hangtime.jpg') repeat center center fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-bottom: 20px;
}

.bg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 250px;
    opacity: 0.7;
}

.title {
    color: white;
    padding-left: 35px;
}

.form-bg {
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    opacity: 0.7;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    opacity: 0.7;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 400px
}

.flex {
    justify-content: center;
    align-items: center;
}
